<!DOCTYPE html>
<html lang="en">

  <head>
    <title>User Profile</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Leaflet CSS -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    </head>

<body>
  <%- include('partials/_header') %>
  <main class="container">
    <h2 class="title"><%= (ownerIsLoggedIn) ? 'My Favourites' : username + "'s Favourites" %></h2><hr>
    <table class="table table-borderless table-hover">
      <thead>
        <th scope="col">Title</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <% for (let userFave of userFaves) { %>
          <tr>
            <td class="align-middle">
              <%= userFave.title %>
            </td>
            <td>
              <a class="btn btn-primary my-2 my-sm-0" href=<%= `/maps/${userFave.id}` %>>Visit</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    <h2 class="title"><%= (ownerIsLoggedIn) ? 'My Maps' : username + "'s Maps" %></h2><hr>
    <table class="table table-borderless table-hover">
      <thead>
        <th scope="col">Title</th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <% for (let userMap of userMaps) { %>
          <tr>
            <td class="align-middle">
              <%= userMap.title %>
            </td>
            <td>
              <a class="btn btn-primary my-2 my-sm-0" href=<%= `/maps/${userMap.id}` %>>Visit</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    <h2 class="title"><%= (ownerIsLoggedIn) ? 'My Contributions' : username + "'s Contributions" %></h2><hr>
      <table class="table table-borderless table-hover">
        <thead>
          <th scope="col">Title</th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <% for (let userPin of userPins) { %>
          <tr>
            <td class="align-middle">
              <%= userPin.title %>
            </td>
            <td>
              <a class="btn btn-primary my-2 my-sm-0" href=<%= `/maps/${userPin.id}` %>>Visit</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    <% if (ownerIsLoggedIn) { %>
      <h2>Create New Map</h2><hr>
        <form class="form" action="/maps" method="POST">
          <div class="form-group mb-2">
            <label for="title">Title:</label>
            <input class="form-control" type="text" name="title" placeholder="Enter map title">
          </div>
          <div class="form-group mb-2 ">
            <label for="country">Country:</label>
            <input class="form-control" type="text" name="country" placeholder="Enter country">
          </div>
          <div class="form-group mb-2">
            <label for="city">City:</label>
            <input class="form-control" type="text" name="city" placeholder="Enter city">
          </div>
          <button type="submit" class="btn btn-primary">Create Map</button>
        </form>
      <% } %>
      </main>
      <%- include('partials/_footer') %>

  <!-- Framework scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5075b93769.js" crossorigin="anonymous"></script>
  <!-- JS Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</body>

</html>
